#canvas {
	position:	relative;
	display:	none;
	margin-left:-638px;
	margin-top:	50px;
	left:		50%; 
	width:		1277px;
	height:     714px;
	overflow:	hidden;
}

.frame { 
	position:	absolute;
	display:	none;
	
}
.blades {
	top:		530px;
	left:		540px;
}
.blades_day {
	z-index:	400;
}
.blades_night {
	z-index:	399;
}


.foreground_day {
	z-index:	150;
}
.foreground_night {
	z-index:	149;
}
.midground_day {
	z-index:	100;
}
.midground_night {
	z-index:	99;
}
.background_day {
	z-index:	50;
}
.background_night {
	z-index:	49;
}

.sky_day {
	z-index:	20;
}
.sky_night {
	z-index:	21;
}
.sky_dawn {
	z-index:	22;
}
.sky_dusk {
	z-index:	22;
}

#sun {
	z-index:	30;
	top:		400px;
}
#moon {
	z-index:	30;
	top:		400px;``
}
#stars {
	z-index:	25;
	top:		0px;
}

.bottom_pos {
	bottom:0px;
}

body {
	background-image: url("../imgs/frame_background.png");
	#background-position: center center, 20% 80%, top left, bottom right;
	background-position: center top;
	background-origin: border-box, content-box;
	background-repeat: no-repeat;
}
