#canvas {
	position:	relative;
	width:		1277px;
	left:		200px;
}
.frame { 
	position:	absolute;
	display:	none;
}
#blades {
	z-index:	40;
	top:		530px;
	left:		540px;
}
#bg {
	z-index:	30;
}
#skyDay {
	z-index:	20;
}
#skyNight {
	z-index:	10;
}
#sun {
	z-index:	25;
	top:		400px;
}
#moon {
	z-index:	25;
	top:		400px;
}
