#canvas {
	position:	relative;
	width:		1277px;
		left: 200px;
}
.frame { 
	position:	absolute;
}
#blades {
	z-index:	30;
	top:		530px;
	left:		540px;
}
#bg {
	z-index:	20;
}
#daySky {
	z-index:	10;
}
#sun {
	z-index:	15;
	top:		400px;
}
